@import "tailwindcss";

@theme {
  --color-dark-surface: #1e1e24;
  --color-dark-bg: #121214;
  --color-accent: #6366f1;
}

body {
  background-color: var(--color-dark-bg);
  color: #fff;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}
